body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;


.dropdown {
  width: 269px;
}

.dropdown .dropdown-btn {
  padding: 10px;
  background: rgb(255, 255, 255);
  box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.16);
}

.dropdown .dropdown-content {
  padding: 10px;
  background: rgb(255, 255, 255);
  box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.16);
}